main {
    display: flex;
    
}
main div{
    padding: 7%;
}
main img{
    height: 300px;
}
main div a{
    background-color: grey;
    color: white;
    border-radius: 10px;
    padding: 1%;
    text-decoration: none;
}