main div{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    margin: 3%;
}
main div article a{
    color: lightgreen;
    text-decoration: none;
}
main div article div section{
    margin-left: 10%;
    margin-right: 10% ;
    text-align: center;
    padding: 5%;
}
main div article p{
    color: rgb(90, 90, 90);
}

.milieu_desc{
    border-right: solid 2px rgb(221, 219, 219);
    border-left: solid 2px rgb(221, 219, 219);

}
main div article div{
    display: flex;
}
main div article div section img{
    height: 30px;
}

main div section{
    justify-content: space-between;
    margin: 5%;

}
main div section a{
    padding: 5% 20%;
    background-color: lightgreen;
    color: rgb(14, 188, 14);
    text-decoration: none;
    border-radius: 15px;
    border: solid 1px green;
}



