html{
    background-color: rgb(243, 243, 243);
}
body {
    margin:  3% 10%;
}
header {
    justify-content: space-between;
    display: flex;
    list-style: none;
    border-bottom: 3px solid lightgrey;

}
header div {
    height: 5%;
    align-items: flex-start;
    margin: 5px 40px;

}
header div ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
header div ul li{
    margin: 2%;
}
header div ul li a{
    text-decoration: none;
    color: black;
}
header div img{
    margin: none;
}
header div ul li:hover {
    border-radius: 5px;
    background-color: lightgrey;
}

@media(min-width: 750px){
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    header div:nth-child(1) {
        margin-bottom: 0;
    }

    header div ul {
        justify-content: flex-end;
    }
}