main{
    justify-content: center;
    text-align: center;
    margin-top: 1%;   
}
main h1{
    color: rgb(73, 225, 73)
}
main .search{
    font-size: large;
    margin-top: 5%;
    

}
main .search input{
    border-radius: 15px;
    font-size: 150%;
}
main .search button{
    border-radius: 15px ;
    font-size: 135%;

}
main section{
    margin-top:  10%;
    display: flex;
    text-align: left;
    justify-content: center;
}
main section p{ 
    padding: 1%;
    width: 35%;   

}

@media (min-width: 768px) {
   

    main h1 {
        font-size: 3em;
    }

    main .search input,
    main .search button {
        width: auto;
    }

    main section p {
        width: 35%;
    }
}

@media (min-width: 992px) {
    main section p {
        width: 50%;
    }
    main img{
        height: 150px;
    }

}





