main section{
    display: flex;
    
}
main section div{
    padding-top: 7%;
    padding-left: 7%;
    padding-right: 7%;
}
main section img{
    height: 400px;
}
main section div a{
    background-color: grey;
    color: white;
    border-radius: 10px;
    padding: 1%;
    text-decoration: none;
}
.bold{
    font-weight: bold;
    font-size: large;
}

.logoDownload{
    width:"75%" 
}

/* Add this to your existing CSS */
@media (max-width: 768px) {
    main section {
        flex-direction: column;
    }

    main section div {
        padding: 7%;
    }

    main section img {
        height: auto;
        max-width: 100%;
    }

    .logoDownload {
        width: 75%;
    }
}
